<div class="mainContainer">
    <div class="eclips web-view"><img src="assets/login/ellipse.svg" alt="img" /></div>
    <section class="main-frame web-view">
      <div class="col-12">
        <div class="logo"><img src="assets/logo/logo.svg" alt="logo" /></div>
      </div>
      <div class="col-12">
        <div class="row g-0">
          <div class="col-7 xs-grid-none">
            <div class="img-holder">
              <img src="assets/login/login_left.svg" alt="img" />
            </div>
          </div>
          <div class="col-5 xs-class">
            <main class="form-signin">
              <form [formGroup]="loginForm ">
                <h1 class="h3 mb-86 fw-normal"><span class="fw-bolder">Welcome!</span> <br>Please login to your
                  account</h1>
    
                <div class="form-floating mb-40 br-4">
                  <input type="text" class="input-bg form-control" id="floatingInput"
                    [ngClass]="{ 'is-invalid': submitted && f.userID?.errors?.required }" formControlName="userID"
                    placeholder="user ID">
                  <label for="floatingInput">User ID*</label>
                  <div *ngIf="submitted && f.userID?.errors?.required" class="invalid-feedback">
                    <div *ngIf="f.userID?.errors?.required">User id is required</div>
                  </div>
                </div>
                <div class="form-floating br-4">
                  <input type="{{showHidePwdInput ? 'text': 'password'}}" class="input-bg form-control" id="floatingPassword"
                    placeholder="Password" formControlName="password"
                    [ngClass]="{ 'is-invalid': submitted && f.password.errors?.required }">
                    <!-- <i [ngClass]="{'abc': showHidePwdInput, 'xyz': !showHidePwdInput}"
                    class="mdi  pwd-eye mx-3" (click)="showHidePwd()"></i> -->
                  <label for="floatingPassword">Password*</label>
                  <div (click)="showHidePwd()">
                    <img src="assets/login/eye-slash.svg" class="pwd-eye" *ngIf="!showHidePwdInput" alt="">
                    <img src="assets/login/eye.svg" class="pwd-eye" *ngIf="showHidePwdInput" alt="">
                  </div>

                   
                  <div *ngIf="submitted && f.password.errors?.required" class="invalid-feedback">
                    <span >Password is required</span>
                  </div>
                </div>
    
                <div class="forgot-password">
                  <a routerLink="/account/auth/reset-password" class="forgot-pwd"></a>
                </div>
                <button [disabled]="loginForm.invalid" class="w-100 btn btn-lg btn-primary" type="submit" (click)="onSubmit()">Login</button>
              </form>
            </main>
          </div>
        </div>
        <div class="row w-100">
          <div class="col">
            <div class="footer login-pwd">
              <h6>Powered by Coroebus &#169;</h6>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="footer">
        <h6>Powered by Coroebus &#169;</h6>
      </div> -->
    </section>
    
    <!-- Rotated View -->
    <div class="mobile-view-rotated d-flex flex-column justify-content-center align-items-center">
      <div class="phone">
      </div>
      <div class="message">
        Please rotate your device!
      </div>
      
    </div>
</div>
